.bottom-menu__social-links-container {
  font-size: 1.4em;
  margin-bottom: 0.6em;
  margin-left: 0.2em;
}

.bottom-menu__social-link-icon {
  color: #707070;
}

.bottom-menu__social-links-container
  .bottom-menu__social-link-icon:not(:last-child) {
  margin-right: 0.6em;
}

.bottom-menu__social-link-icon:hover {
  color: #111111;
}
