.language-selector-container {
  position: relative;
  width: 160px;
  cursor: pointer;
}

.language-selector__language {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.09) 0px 0px 0px 1px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.language-selector__non-selected-languages {
  box-shadow: rgba(0, 0, 0, 0.009) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.09) 0px 0px 0px 1px;
  position: absolute;
  z-index: 10;
  top: 36px;
  background-color: #ffffff;
  width: 160px;
}

.language-selector__flag-image {
  width: 26px;
  height: 20px;
  margin-right: 14px;
}

.language-selector__non-selected-language {
  display: flex;
  padding: 8px;
}

.language-selector__non-selected-language:hover {
  background-color: rgb(243, 244, 244);
}

.language-selector__language-data {
  display: flex;
  align-items: center;
}
