.language-selector-container {
  position: relative;
  width: 160px;
  cursor: pointer;
}

.language-selector__language {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
}

.language-selector__non-selected-languages {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  z-index: 10;
  top: 36px;
  padding-top: 8px;
  background-color: #ffffff;
  width: 160px;
}

.language-selector__flag-image {
  width: 26px;
  height: 20px;
  margin-right: 14px;
}

.language-selector__non-selected-language {
  display: flex;
  padding: 6px 8px;
}

.language-selector__non-selected-language:hover {
  background-color: rgb(243, 244, 244);
}

.language-selector__language-data {
  display: flex;
  align-items: center;
}
