.project__loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

@-webkit-keyframes line {
  from {
    background-position: -60px 0;
  }
  to {
    background-position: 60px 0;
  }
}
@keyframes line {
  from {
    background-position: -60px 0;
  }
  to {
    background-position: 60px 0;
  }
}

.line:before {
  -webkit-animation: line 0.75s infinite alternate ease-in-out;
  animation: line 0.75s infinite alternate ease-in-out;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--primary)),
    to(var(--primary))
  );
  background: linear-gradient(90deg, black, grey);
  background-repeat: no-repeat;
  background-size: 60px 20px;
  content: "";
  display: block;
  height: 20px;
  width: 60px;
  border-radius: 10px;
}
