.project__loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.project__loader {
  left: 50%;
  color: #707070;
  font-family: "Rubik";
}

@keyframes loading {
  from {
    max-width: 0;
  }
}

.project__loader:before {
  content: attr(data-content);
  position: absolute;
  overflow: hidden;
  max-width: 5em;
  color: #111111;
  animation: loading 0.5s linear;
}
