/* @media all and (orientation: landscape) { */

.menu__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.menu__top-part {
}

.name-container {
  margin-bottom: 32px;
}

.menu__name {
  text-transform: uppercase;
  font-size: xx-large;
  color: #111111;
  text-decoration: none;
  line-height: 1em;
}

.menu__part {
  margin-left: 20px;
  margin-bottom: 24px;
}

.menu__sublist-title {
  text-transform: uppercase;
  color: #707070;
  cursor: pointer;
  transition: display 0.5s ease;
}

.menu__sublist-title:hover {
  color: #111111;
}

.menu__sublist {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
}

.menu__sublist a {
  margin: 0.2em 0;
}

.menu__link {
  text-decoration: none;
  color: #707070;
}

.menu__link:hover {
  color: #111111;
}

.social-links-container {
  font-size: 1.4em;
  margin-bottom: 0.6em;
  margin-left: 0.2em;
}

.menu__social-link-icon {
  color: #707070;
}

.social-links-container .menu__social-link-icon:not(:last-child) {
  margin-right: 0.6em;
}

.menu__social-link-icon:hover {
  color: #111111;
}
@media (max-width: 1200px) {
  .menu__bottom-part-first {
    display: none;
  }
}
