@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

.project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 908px;
}

@media (max-width: 851px) {
  .project__container {
    flex: 0 1 auto;
  }
}

.project__carousel-container {
  overflow: hidden;
  max-width: 925px;
}

.project__image-container {
  max-height: 615px;
  height: 100%;
  max-width: 920px;
  padding: 0 2px;
}

.project__name-container {
  text-align: center;
}

.project__name {
  opacity: 0.7;
  font-size: larger;
  font-weight: bolder;
}

.project__description-conatainer {
  margin: 20px 60px;
}

.project__description {
  opacity: 0.6;
  text-align: justify;
}

.carousel .slide .legend {
  left: 2px;
  margin-left: 0;
  border-radius: 0;
  width: auto;
  padding: 10px 20px;
}
