.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app__bottom-menu_small-screens {
  display: flex;
  justify-content: center;
}

@media (min-width: 850px) {
  .app__bottom-menu_small-screens {
    display: none;
  }
}
