.App {
  max-width: 1400px;
}

.main-container {
  display: flex;
  gap: 60px;
  margin: 5% 40px;
}

@media (max-width: 1200px) {
  .main-container {
    flex-direction: column;
    gap: 40px;
    margin: 4% 20px;
  }
}

.main-image-container {
  max-width: 976px;
}
